[Unit]
Description=Periodic calculation of moving average
After=multi-user.target

[Service]
Type=simple
ExecStart=/root/ma/ma.py

[Install]
WantedBy=multi-user.target
